{% load static %}
<footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <h6 class="text-white">Peterpan is a Ninja</h6>
            </div>
            <div class="contact-details">
              <p>Vancouver, BC, Canada</p>
              <p>Phone: 604-808-1122</p>
              <p>Email: <a href="info@jasonchiang.ca">info@jasonchiang.ca</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menus d-flex">
              <ul class="list-unstyled">
                <li> <a href="index.html">Home</a></li>
                <li> <a href="blog.html">Blog</a></li>
                <li> <a href="gallery.html">Gallery</a></li>
                <li> <a href="interactivemap.html">Interactive Map</a></li>
              </ul>
              <ul class="list-unstyled">
                <li> <a href="socialmedia.html">Instagram</a></li>
                <li> <a href="https://www.instagram.com/peterpanisaninja_painter/">Ig Profile</a></li>
                <li> <a href="contact.html">Inquire</a></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6"; style="align:center">
              <p>&copy; 2020. Peterpan is a Ninja.</p>
            </div>
            <div class="col-md-6 text-right">                      
              </p>
    </footer>