{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Content -->
<div style="background-image: url({% static 'img\ian-williams-rKE6rXOl14U-unsplash.jpg' %}); background-size: cover; background-position: center' %})">
  </div>


<section>
<!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
    <script type="text/javascript">
    /* curator-feed-default-feed-layout */
    (function(){
    var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
    i.src = "https://cdn.curator.io/published/6a08cd81-e67f-429e-b42f-1881b553ee3c.js";
    e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>
</section>

{% endblock content %}